@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-VariableFont_opsz,wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf');
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

#main {
    display: flex;
}

#sidebar {
    width: 40vw;
    height: 98vh;
    margin: 0;
    background-color: #11111b;
    padding: 1vh;
    display: flex;
    flex-direction: column;
}

#sidebar-top {
    height: 9.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-middle {
    height: 78.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar-bottom {
    height: 9.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainbar {
    width: 60vw;
    height: 98vh;
    margin: 0;
    padding: 1vh;
    display: flex;
    flex-direction: column;
}

#mainbar-top {
    height: 9.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainbar-middle {
    height: 78.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#field {
    width: 570px;
    height: 260px;
    border: 5px solid white;
    border-radius: 10px;
}

#mainbar-bottom {
    height: 9.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e2e;
}